div {
	width: 200px;
	height: auto;
	border: 15px solid yellow;
	padding: 10px 10px;
	margin: auto;
	border-radius: 20px;
	box-shadow: inset 0 0 15px orange;
	-webkit-animation: mymove 5s infinite 2s 3s alternate cycles fill-mode;
	-o-animation: mymove 5s infinite 2s 3s alternate cycles fill-mode;
	animation: mymove 5s infinite 2s 3s alternate cycles fill-mode;
}
p {
	text-align: center;
}
.CajaIzquierda {
	float: left;
	}
.CajaDerecha {
	float: none;
	clear: both;
}